@model IEnumerable<coremvcproject.Models.Publishers>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublishersId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublisherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoundationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublisherValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublishersId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoundationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherValue)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.PublishersId },new{@class="btn btn-primary"}) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.PublishersId  },new{@class="btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
