@model IEnumerable<coremvcproject.Models.Platforms>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlatformsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlatformName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlatformsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlatformName)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new{ id=item.PlatformsId  },new{@class="btn btn-primary"}) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.PlatformsId },new{@class="btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
